/* ------------------------------
        google font
------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


 
/* ------------------------
            Header
--------------------------*/
body{
    font-family: 'Poppins', sans-serif;
}
.menu{
    background-color: #2D25A0;
    margin-bottom: 70px;
}
.container{
    margin-bottom: 70px;
}

.menu-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.item{
    display: flex;
    flex-direction: row;
    margin: 0px 150px;

}
/*----------------------
            All buttons
 ------------------- */
.button{
    text-decoration: none;
    font-size: 16px;
    padding-left: 10px;
    color: #FFFFFF;
    font-weight: 500;

}
#button{
    padding-top: 30px;
    width: 168px;
    height: 44px;
}
.login{
    margin-right: 56px;
    position:right ;
    text-align: center;
}
.fa-sign-in-alt{
    padding: 5px;
}

/* ----------------------
            Banner
------------------------- */
.banner{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
   }


.poster{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 150px;


}
.poster h2{
    width: 490px;
    height: 150px;
    margin-bottom: 10px;
    color: #FFFFFF;
}
.new-button{
    display: flex;
    justify-content: center;
    text-decoration: none;
    background-color: #E02C6D;
    font-size: 16px;
    padding: 10px 24px;
    color: #FFFFFF;
}
.fa-arrow-right{
    padding: 5px;

}
.banner img {
    width: 556.01px;
    height: 438px;
    width: 100%;

}
.banner-img{
    display: flex;
    overflow: hidden;
    margin-bottom: 80px;
    margin-top: 153;
    margin-left: 140;
}
.poster:hover img {
    transform: scale(1.5);
    transition: transform 2s ease-in-out;

} 


/* -----------------------------
        Contents
---------------------------------*/
.container{
    display: flex;
    justify-content: center;
    align-items: center;



}
.contents{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    
}
.content{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 300px;
    height: 426px;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.content img{
    width: 300px;
    height: 256px;
    
}
.name{
    margin: 10px 0px;
    color: #18191F;
    font-size: 28px;
}
.detail{
    font-size: 16px;
    line-height: 26px;
    color: #6C6C6C;
    margin: 10px 0px;
}

/* ------------------------------
Match Highligths
--------------------------*/
.highlights{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
    width: 1089px;
    height: 427px;
    margin-top: 100px;
    
}
.summary{
    justify-content: center;

    align-items: center;


    width: 469px;
    height: 309px;
}
.watch{
    display: flex;
    text-align: center;
    
}
.highlight-summary{
    display: flex;
}
.highlight{
    display: flex;
}
.highlight-title{
    display: flex;
}
h2{
    font-size: 48px;
    margin-bottom: 8px;
}
.match{
    display: flex;

}
.match-img{
    display: flex;
    width: 567px;
    height: 427px;
}
.button-new{
    margin-top: 24px;
    padding: 10px 24px;
    font-size: 16px;
    width: 168px;
    height: 44px;
    background-color: #E02C6D;
    text-decoration: none;
    color: #FFFFFF;
}
/* ------------------------------
        live Match    
---------------------------------*/
.on-go{
    background-color: bisque;
}
.match{
   display: flex; 
   justify-content: space-between;
   align-content: center;
}
.new-score{
    margin-bottom: 40px;
    background-color: peru;
    padding-bottom: 20px;
    padding: 30px 30px;
}

.live-match{
    color: brown;
    text-decoration: none;
    border: 1px solid #6C6C6C;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}
.update{
    display: flex;
    text-align: center;
    justify-content: center;
}
.live-score{
    background-color: lightblue;
    display: flex;
    justify-content: center;
}
.play{
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid firebrick;
    border-radius: 5px;
}

/* -------------------------
    next-match
------------------------------*/
.next-match{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    margin-bottom: 30px;
    background-color: darkgrey;
    padding-bottom: 20px;
    width: 1050px;
    align-content: center;
    align-items: center;


}
.next-match h2{
    font-size: 20px;
    text-align: center;
}
.teams{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    margin: 0 20px ;

}

/*------------------------------- 
        footer
-------------------------------- */
.social{
    display: grid;
    grid-template-columns: repeat(1);
}
footer img{
 
    width: 483.87px;
    height: 110px;
}
.footer-banner{
    display: flex;
    justify-content: center;

}
.logo img{
    display: flex;
}
.icon{
    display: flex;
    justify-content: center;
}
.font{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.font a{
    padding:10px ;

}
.copyright{
    text-align: center;
}


/* ---------------------------
        media Ques
--------------------------------*/


@media screen and (max-width:668px){
   .home{
       width: 100%;
   }
   .caption{
        width: 278px;
        height: 138px;
   }
   .title{
       width: 56%;
   }
   .poster{
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 50px;
   }
   .poster h2{
        width: 278px;
        height: 138px;
        left: 16px;
        font-size: 36px;
        color: #FFFFFF;
   }

   
   
   
   .banner img{
        width: 329px;
        height: 259.17px;
        margin-bottom: 62px;
        width: 100%;

   }
   
   .item{
       display: none;
   }
   .login{
       display: grid;
       grid-template-columns: repeat(1, 1fr);
       margin-right: 20px;
   }
   .new-button{
       padding-right: 15px;
   }
   .fa-sign-in-alt{
        padding-left: 5px;
    }
    .contents {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        grid-column-gap: 30px;
        grid-row-gap: 27px;
    }
    /*-----------------------------
                Live Score
    ----------------------------*/
    .live-score{
        border: 1px solid yellowgreen;
        padding: 10px 0px;
    }

    .update{
        flex-direction: column


    }
    /*----------------------------
    Upcoming Match
    ----------------------------- */
    .teams{
        display: flex;
        flex-direction: column;
    }
    /* Footer */
        /* 
        
        logo
        */
        .logo img{
            width: 100%;
        }
} 